@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .bgimg {
        background-image: url('../images/homePageText.jpg');
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center; 
        position: relative;
        background-size: contain;
        width: 100%;
        height: 0;
        padding-top: 66.64%;
    }
</style>

<div class="jumbotron bgimg" style="height:auto">
</div>